@import "src/assets/scss/styles";

.services {
  padding: 5rem 0;
  text-align: center;

  &-block {
    box-shadow: 0 0 5px $gray-dark;
    border-radius: size(5);
  }

  & span {
    display: inline-block;
    color: $primary;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  & p {
    width: 80%;
    margin: 0 auto;

    @include respond-to(medium) {
      width: 100%;
    }
  }
}


/*end of services */