@import "src/assets/scss/styles";

/* Hero */
.defaultHero,
.smallHero {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: size(70);


  & img {
    width: 100%;
    border-radius: size(5);
  }
}
.smallHero {
  min-height: 60vh;
}
/* End of Hero */