@import "src/assets/scss/styles";

/* Title */
.section-title {
  text-align: center;
  margin-bottom: size(15);

  & h4 {
    letter-spacing: size(3);
    text-transform: capitalize;
    margin-bottom: 1rem;
  }

  & div {
    width: 5rem;
    height: size(5);
    margin: 0 auto;
    background: $primary;
  }
}
/* end of Title */