/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints


$breakpoints: (
        'small':  ( min-width:  767px ),
        'medium': ( min-width:  1024px ),
        'large':  ( min-width: 1200px )
) !default;


@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Error: this `#{$breakpoint}` does not exist. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}