@import "colors";
@import "../mixins/px-to-rem";

.btn {
  border: none;
  cursor: pointer;
  border-radius: size(5);
  padding: 0.75rem 1.875rem;
  display: inline-block;
  margin:0 auto;
  text-transform: uppercase;
  letter-spacing: size(1);
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

/* Button 1 */
.btn-1 {
  background: $tertiary;
  color: $white;

  &:hover {
    background: #767fff;
  }

  &:active {
    background: #666fe2;
    top: size(2);
  }
}
