/* Color system */

/* Website primary colors */
$primary: #07BE54;
$secondary: #ff5a5f;
$tertiary: #949bff;


/* Standard colors */
$white: #FFFFFF;
$gray-lightest: #f5f5f5;
$gray-light: #e6e6e6;
$gray: #b2b2b2;
$gray-dark: #828282;
$gray-darkest: #2f2f2f;
$black: #505050;