@import "colors";
@import "../mixins/px-to-rem";
@import "breakPoints.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* heading system */
/* font weight */

$font-weight-normal: 300;
$font-weight-bold: 700;

h1 {
  color: $primary;
  font-size: size(34);
  line-height: size(40);
  font-weight: $font-weight-normal;

  @include respond-to(small) {
    font-size: size(40);
    line-height: size(46);
  }
}

h2 {
  color: $primary;
  font-size: size(28);
  line-height: size(34);
  font-weight: $font-weight-normal;

  @include respond-to(small) {
    font-size: size(34);
    line-height: size(40);
  }
}

h3 {
  color: $black;
  font-size: size(24);
  line-height: size(30);
  font-weight: $font-weight-normal;

  @include respond-to(small) {
    font-size: size(28);
    line-height: size(34);
  }
}

h4 {
  color: $black;
  font-size: size(22);
  line-height: size(28);
  font-weight: $font-weight-normal;
}

h5 {
  color: $black;
  font-size: size(18);
  line-height: size(25);
  font-weight: $font-weight-bold;
}

h6 {
  color: $black;
  font-size: size(16);
  line-height: size(23);
  font-weight: $font-weight-bold;
}

/* text system */

p {
  font-size: size(16);
  line-height: size(22);
  color: $gray-dark;
}

