@import "../mixins/px-to-rem";
@import "../system/breakPoints";

.container {
  max-width: size(1140);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include respond-to(small) {
    width: calc(100% - 10rem);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  margin: 0.8rem auto;
  padding: size(10);

  @include respond-to(small) {
    margin: size(10);

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Grid function built with flex-box */
/* edit only the $columns variable if your grid bigger or smaller then 12 */
$columns: 12;

@for $i from 1 through $columns {
  .col-#{$i} {
    max-width: calc(100% - 20px);
    width: 100%;

    @include respond-to(small) {
      max-width: calc(50% - 20px);
    }

    @include respond-to(medium) {
      max-width: calc(100% / #{$columns} * #{$i} - 20px);
    }

  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns * $i;
  }
}