@import "src/assets/scss/styles";

$mainTransition: all 0.3s linear;

/* Navbar */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.75rem 0;
  background: $white;
  z-index: 1;

  & .container {
    width: calc(100% - 20px);

    @include respond-to(small) {
      width: calc(100% - 180px);
    }
  }
}

.nav {
  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond-to(small) {
      width: 25%;
    }
  }

  &-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;

    @include respond-to(small) {
      display: none;
    }
  }

  &-icon {
    font-size: 1.5rem;
    color: $primary;
  }

  &-links {
    height: 0;
    overflow: hidden;
    transition: $mainTransition;
    list-style-type: none;
    text-align: left;
    justify-content: center;
    padding: 0;
    width: 100%;

    @include respond-to(small) {
      height: auto;
      display: flex;
      justify-content: flex-end;
      width: 75%;
    }

    & a {
      display: block;
      text-decoration: none;
      padding: 1rem 0;
      color: $gray-darkest;
      transition: $mainTransition;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: size(3);

      @include respond-to(small) {
        margin: 0 1rem;
        padding: 0.5rem 0;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}

.show-nav {
  height: size(160);
}
/* end of navbar */