@import "src/assets/scss/styles";

/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: size(3);
  position: absolute;
  border-radius: size(5);

  @include respond-to(small) {
    padding: 2rem 3rem;
  }


  & div {
    width: 10rem;
    height: 5px;
    background: $primary;
    margin: 1.7rem auto;
  }

  & p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
/* End of Banner */